<div class="container text-center my-5">
  <h1>Welcome to our Foosball Double World Cup ⚽️</h1>

  <%= link_to "See existing teams", teams_path, class: "btn btn-dark" %>
  <%= link_to "Create a new team", new_team_path, class: "btn btn-primary" %>
</div>

